.summary-container {
  display: flex;
  flex-direction: column;

  .selection-summary-container {
    display: flex;
    flex-direction: column;

    .config-container {
      display: flex;
      flex-direction: column;

      &.summary-entry {
        display: flex;
        flex-direction: row;
      }
    }

    .summary-entry {
      display: flex;
      flex-direction: row;
    }
  }
}
