.config-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .config-selection {
    display: flex;
    gap: 2rem;
  }

  .car-config-details-container {
    display: flex;
    gap: 1rem;
  }

  .optional-checkbox {
    display: flex;
    align-items: center;
  }
}
