.step-container {
  height: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;


  .step {
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px outset #3d3d3d;
    background-color: #2d2d2d;

    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }
}
